[submodule "toolchain/mkbootimg"]
	path = toolchain/mkbootimg
	url = https://android.googlesource.com/platform/system/tools/mkbootimg
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/rsuntk/KernelSU.git
