# Config file for p3s (Galaxy S21 Ultra 5G)
# This is merged with exynos2100_defconfig on build

CONFIG_MODEL_P3S=y

# CONFIG_RBIN is not set

# CONFIG_SEC_NFC_LOGGER_ADD_ACPM_LOG is not set

# CONFIG_USB_NET_AQC111 is not set
# CONFIG_BCM4375 is not set
CONFIG_BCM4389=m

CONFIG_MFD_S2MPB02=m
CONFIG_REGULATOR_S2MPB02=m
CONFIG_REGULATOR_S2DOS05=m
CONFIG_CHARGER_PCA9468=m
# CONFIG_CHARGER_SM5451 is not set

# CONFIG_CAMERA_OTPROM_SUPPORT_REAR is not set
# CONFIG_FLASH_CURRENT_CHANGE_SUPPORT is not set
# CONFIG_CAMERA_USU_V01 is not set
# CONFIG_CAMERA_USU_V02 is not set
CONFIG_CAMERA_USU_V03=y
# CONFIG_CAMERA_RSU_V09 is not set
CONFIG_CAMERA_CIS_3J1_OBJ=m
CONFIG_CAMERA_CIS_GH1_OBJ=m
# CONFIG_CAMERA_CIS_GW2_OBJ is not set
# CONFIG_CAMERA_CIS_HI847_OBJ is not set
# CONFIG_CAMERA_CIS_2LD_OBJ is not set
CONFIG_CAMERA_CIS_HM1_OBJ=m
CONFIG_CAMERA_CIS_HM3_OBJ=m
# CONFIG_CAMERA_CIS_IMX258_OBJ is not set
# CONFIG_CAMERA_CIS_IMX616_OBJ is not set
# CONFIG_CAMERA_CIS_HI1336_OBJ is not set
CONFIG_CAMERA_LASER_AF_VL53L5_OBJ=m
CONFIG_CAMERA_FLASH_S2MPB02_OBJ=m
# CONFIG_CAMERA_FLASH_KTD2692_OBJ is not set

CONFIG_EXYNOS_DECON_LCD_COPR=y
CONFIG_SUPPORT_HMD=y
CONFIG_EXTEND_LIVE_CLOCK=y
CONFIG_SUPPORT_DISPLAY_PROFILER=y
# CONFIG_SUPPORT_DDI_FLASH is not set
# CONFIG_SUPPORT_POC_FLASH is not set
CONFIG_SUPPORT_MAFPC=y
# CONFIG_SUPPORT_POC_SPI is not set
# CONFIG_SUPPORT_GM2_FLASH is not set
# CONFIG_SUPPORT_MASK_LAYER is not set
CONFIG_SUPPORT_BRIGHTDOT_TEST=y
# CONFIG_EVASION_DISP_DET is not set
# CONFIG_SUPPORT_TIG is not set
# CONFIG_EXYNOS_DECON_LCD_S6E3FAB is not set
CONFIG_EXYNOS_DECON_LCD_S6E3HAB=m
CONFIG_EXYNOS_DECON_LCD_S6E3HAD=m
# CONFIG_EXYNOS_DECON_LCD_EA8082 is not set
# CONFIG_EXYNOS_DECON_LCD_S6E3FC3 is not set

# CONFIG_LEDS_KTD2692 is not set
CONFIG_LEDS_S2MPB02=m

CONFIG_USE_LLC_LOG=m
CONFIG_USE_PPC_LOG=m
CONFIG_DEBUG_SNAPSHOT_LOG_ITEM_SIZE=1024

CONFIG_SENSORS=y
CONFIG_SENSORS_SX9364=m
# CONFIG_SENSORS_ISG5320A is not set
# CONFIG_SENSORS_ISG5320A_O1S is not set
# CONFIG_SENSORS_FINGERPRINT_NORMALSPI is not set
CONFIG_SENSORS_QBT2000=m
# CONFIG_SENSORS_GW9558X is not set
CONFIG_SENSORS_VL53L5=m
CONFIG_SENSORS_VL53L5_SUPPORT_UAPI=y
CONFIG_SENSORS_VL53L5_SUPPORT_KERNEL_INTERFACE=y
CONFIG_SENSORS_VL53L5_SLSI=y
CONFIG_SENSORS_SSP_UNBOUND=y
CONFIG_SENSORS_TSL2510=m
# CONFIG_SENSORS_SUPPORT_SLSI is not set
# CONFIG_SENSORS_FLICKER_SELF_TEST is not set
# CONFIG_SENSORS_STK3A8X is not set
# CONFIG_SENSORS_FLIP_COVER_DETECTOR is not set
# CONFIG_SENSORS_SSP_R9S is not set
# CONFIG_HALL_NOTIFIER is not set
# CONFIG_HALL_LOGICAL is not set
# CONFIG_PWM_CONFIG is not set

CONFIG_MOTOR_CS40L2X=m
CONFIG_CS40L2X_SAMSUNG_FEATURE=y
# CONFIG_MAX77705_VIBRATOR is not set

CONFIG_TOUCHSCREEN_SLSI=m
# CONFIG_TOUCHSCREEN_SYNAPTICS is not set

CONFIG_SAMSUNG_UWB=m
CONFIG_UWB_SR100=y
CONFIG_SEC_UWB_LOGGER=y

CONFIG_TX_GEAR_AOV=y

CONFIG_INPUT_WACOM=m
CONFIG_EPEN_WACOM_W9020=m

CONFIG_PD_CHARGER_HV_DISABLE=y

CONFIG_EROFS_FS_PCPU_KTHREAD=y

# CONFIG_SECTION_MISMATCH_WARN_ONLY is not set