# Config file for r9s (Galaxy S21 FE 5G)
# This is merged with exynos2100_defconfig on build

CONFIG_MODEL_R9S=y

CONFIG_RBIN=y
CONFIG_ION_RBIN_HEAP=y

CONFIG_SEC_NFC_LOGGER_ADD_ACPM_LOG=y
CONFIG_SEC_NFC_LOGGER_RTC_REG_ADDR=0x15920090

CONFIG_USB_NET_AQC111=y
CONFIG_BCM4375=m
# CONFIG_BCM4389 is not set
# CONFIG_WLAN_BCM4375_ADVANCED_FEATURES is not set
CONFIG_WLAN_SOFTAP_HE_ENABLE=y

# CONFIG_MFD_S2MPB02 is not set

CONFIG_CAMERA_OTPROM_SUPPORT_REAR=m
CONFIG_FLASH_CURRENT_CHANGE_SUPPORT=y
# CONFIG_CAMERA_USU_V01 is not set
# CONFIG_CAMERA_USU_V02 is not set
# CONFIG_CAMERA_USU_V03 is not set
CONFIG_CAMERA_RSU_V09=y
# CONFIG_CAMERA_CIS_3J1_OBJ is not set
# CONFIG_CAMERA_CIS_GH1_OBJ is not set
# CONFIG_CAMERA_CIS_GW2_OBJ is not set
CONFIG_CAMERA_CIS_HI847_OBJ=m
CONFIG_CAMERA_CIS_2LD_OBJ=m
# CONFIG_CAMERA_CIS_HM1_OBJ is not set
# CONFIG_CAMERA_CIS_HM3_OBJ is not set
CONFIG_CAMERA_CIS_IMX258_OBJ=m
# CONFIG_CAMERA_CIS_IMX563_OBJ is not set
CONFIG_CAMERA_CIS_IMX616_OBJ=m
CONFIG_CAMERA_CIS_HI1336_OBJ=m
CONFIG_CAMERA_FLASH_KTD2692_OBJ=m

# CONFIG_EXYNOS_DECON_LCD_COPR is not set
# CONFIG_SUPPORT_HMD is not set
# CONFIG_EXTEND_LIVE_CLOCK is not set
# CONFIG_SUPPORT_DISPLAY_PROFILER is not set
# CONFIG_SUPPORT_DDI_FLASH is not set
# CONFIG_SUPPORT_POC_FLASH is not set
# CONFIG_SUPPORT_MAFPC is not set
# CONFIG_SUPPORT_POC_SPI is not set
# CONFIG_SUPPORT_GM2_FLASH is not set
CONFIG_SUPPORT_MASK_LAYER=y
# CONFIG_SUPPORT_BRIGHTDOT_TEST is not set
# CONFIG_EVASION_DISP_DET is not set
CONFIG_SUPPORT_TIG=y
CONFIG_EXYNOS_DECON_LCD_S6E3FAB=m
CONFIG_EXYNOS_DECON_LCD_S6E3HAB=m
# CONFIG_EXYNOS_DECON_LCD_S6E3HAD is not set
CONFIG_EXYNOS_DECON_LCD_EA8082=m
CONFIG_EXYNOS_DECON_LCD_S6E3FC3=m

CONFIG_SND_SOC_SAMSUNG_ABOX_CHANGE_RMEM_SIZE=m

CONFIG_LEDS_KTD2692=m

# CONFIG_USE_LLC_LOG is not set
# CONFIG_USE_PPC_LOG is not set
CONFIG_DEBUG_SNAPSHOT_LOG_ITEM_SIZE=128

# CONFIG_SENSORS is not set
# CONFIG_SENSORS_SX9364 is not set
CONFIG_SENSORS_ISG5320A=m
# CONFIG_SENSORS_ISG5320A_O1S is not set
CONFIG_SENSORS_FINGERPRINT_NORMALSPI=y
# CONFIG_SENSORS_QBT2000 is not set
CONFIG_SENSORS_GW9558X=m
# CONFIG_SENSORS_SSP_UNBOUND is not set
CONFIG_SENSORS_SSP_R9S=y
CONFIG_SENSORS_FLIP_COVER_DETECTOR=y
# CONFIG_TOUCHSCREEN_SLSI is not set
CONFIG_TOUCHSCREEN_SYNAPTICS=m
# CONFIG_SENSORS_VL53L5 is not set
# CONFIG_SENSORS_VL53L5_SUPPORT_UAPI is not set
# CONFIG_SENSORS_VL53L5_SUPPORT_KERNEL_INTERFACE is not set
# CONFIG_SENSORS_VL53L5_SLSI is not set
# CONFIG_SENSORS_TSL2510 is not set
CONFIG_SENSORS_FLICKER_SELF_TEST=m
CONFIG_SENSORS_STK3A8X=m
CONFIG_SENSORS_SUPPORT_SLSI=y
CONFIG_HALL_NOTIFIER=m
CONFIG_HALL_LOGICAL=m

# CONFIG_MOTOR_CS40L2X is not set
# CONFIG_REGULATOR_S2DOS05 is not set
CONFIG_PWM_CONFIG=m
CONFIG_MAX77705_VIBRATOR=m

# CONFIG_CHARGER_PCA9468 is not set
CONFIG_CHARGER_SM5451=m

# CONFIG_SAMSUNG_UWB is not set
# CONFIG_UWB_SR100 is not set
# CONFIG_SEC_UWB_LOGGER is not set

# CONFIG_TX_GEAR_AOV is not set

# CONFIG_INPUT_WACOM is not set
# CONFIG_EPEN_WACOM_W9020 is not set

# CONFIG_PD_CHARGER_HV_DISABLE is not set

# CONFIG_EROFS_FS_PCPU_KTHREAD is not set

CONFIG_SECTION_MISMATCH_WARN_ONLY=y


